.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  padding: 0 32px;
  align-items: center;
  gap: 24px;
  & a {
    color: #181818;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #35aff4;
    }
  }
  @include mediaMobile {
    display: none;
  }
}

a.active {
  color: #35aff4;
}
.nav__btns {
  display: flex;
  align-items: center;
  gap: 12px;

  @include mediaMobile {
    display: none;
  }
}
