.subscribe {
  overflow: hidden;
  box-shadow: 0px -7px 39px 0px rgba(53, 175, 244, 0.75);
  -webkit-box-shadow: 0px -7px 39px 0px rgba(53, 175, 244, 0.75);
  -moz-box-shadow: 0px -7px 39px 0px rgba(53, 175, 244, 0.75);
  padding: 80px 0;
  color: var(--text-white);
  background-color: var(--accent);

  @include mediaLaptop {
    padding: 40px 0;
  }
}
.subscribe__row {
  position: relative;
  padding-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: -120px;
    width: 236px;
    height: 273px;
    background-image: url("./../../img/subscribe/subscribe-pin-bg.svg");
    background-repeat: no-repeat;

    @include mediaTablet {
      top: -60px;
    }
    @include mediaMobile {
      display: none;
    }
  }

  @include mediaTablet {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 150px;
  }
  @include mediaMobile {
    padding: 0;
  }
}
.subscribe__desc {
  display: grid;
  gap: 8px;
}
.subscribe__title {
  font-size: 28px;
  font-weight: 500;

  @include mediaMobileL {
    font-size: 25px;
  }
}

.subscibe__text {
  color: var(--text-white-2);
  font-size: 20px;
  font-weight: var(--font-weight);
}
.subscribe__form {
  flex-grow: 2;
}
