.subscribe-form {
  display: flex;
  gap: 12px;

  @include mediaMobileS {
    gap: 9px;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-form__input {
  padding: 12px;
  flex-grow: 1;
  background: var(--page-bg);
  min-width: 376px !important;
  height: 48px;
  gap: 8px;
  padding-left: 48px;
  background-image: url("../img/icons/email.svg");
  background-position: 12px 12px;
  background-size: auto;
  background-repeat: no-repeat;
  color: var(--text-color);
  border-radius: 8px;
  &::placeholder {
    color: var(--text-muted);
  }
  font-size: 14px;
  font-weight: 450;
  line-height: 150%; /* 21px */
  border: 1px solid var(--text-white-2);

  @include mediaMobileL {
    min-width: unset !important;
  }
}
.subscribe-form__button {
  padding: 12px 24px;
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: #181818;
  border: 1px solid var(--black);
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: transparent;
  }

  @include mediaMobileS {
    width: 120px;
  }
}
