.card-review {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(23, 28, 31, 0.23);

  @include mediaLaptop {
    gap: 20px;
  }
}
.card-review__rating {
  display: flex;
  gap: 4px;
}
.card-review__text {
  color: var(--text-muted);
  font-size: 16px;
  font-weight: 450;
  line-height: 150%; /* 24px */

  @include mediaLaptop {
    font-size: 14px;
  }
}
.card-review__author {
  display: flex;
  align-items: center;
  gap: 16px;

  @include mediaLaptop {
    gap: 12px;
  }
}

.card-review__author-name__title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */

  @include mediaLaptop {
    font-size: 14px;
  }
}
.card-review__author-name__role {
  color: var(--text-muted);
  font-size: 16px;
  font-weight: 450;
  line-height: 150%; /* 24px */

  @include mediaLaptop {
    font-size: 13px;
  }
}

.card-review__author-img {
  width: 50px;
  height: 50px;
}
